<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>China</string>
	<string>America</string>
	<string>Russia</string>
	<string>Japan</string>
	<string>Hongkong</string>
	<string>Taiwan</string>
	<string>Britain</string>
	<string>Europe</string>
	<string>Canada</string>
	<string>Macao</string>
</array>
</plist>
